<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Автотранспорт</span></h4>

<form class="st-form" (ngSubmit)="onSubmit(); carForm.reset();" #carForm="ngForm">
    <dl>
        <dt>Название*</dt>
        <dd><input 
                type="text" 
                name="name" 
                [(ngModel)]="car.name" 
                placeholder="Лада Калина" 
                required 
                #name="ngModel" 
                maxlength="100"
                class="form-control"
                autocomplete="off"></dd>
        <dt>Гос. номер*</dt>
        <dd><input 
                type="text" 
                name="gos_no" 
                [(ngModel)]="car.gos_no" 
                placeholder="у999уу174" 
                required 
                #gos_no="ngModel" 
                maxlength="12"
                class="form-control"
                autocomplete="off"></dd>
        <dt>Цвет</dt>
        <dd><input 
                type="text" 
                name="color" 
                [(ngModel)]="car.color" 
                placeholder="Снежная королева" 
                #color="ngModel" 
                maxlength="100"
                class="form-control"
                autocomplete="off"></dd>
        <dt>Организация*</dt>
        <dd>
            <select name="firm" [(ngModel)]="selectedFirmId" class="form-control" required>
                <option [ngValue]="null" disabled></option>
                <option *ngFor="let firm of firms" [ngValue]="firm.id">
                    {{firm.name}}
                </option>
            </select>
        </dd>
        <dt>Водитель (пользователь)*</dt>
        <dd>
            <select name="user" [(ngModel)]="selectedUserId" class="form-control" required>
                <option [ngValue]="null" disabled></option>
                <option *ngFor="let user of users" [ngValue]="user.id">
                    {{user.first_name}} {{user.last_name}}
                </option>
            </select>
        </dd>
        <dt>Тип</dt>
        <dd><input 
                type="checkbox" 
                value="true" 
                name="type" 
                id="carType" 
                [(ngModel)]="car.type"
                (checked)="carForm.form.markAsDirty()">
            <label for="carType">Автобус (иначе Автомобиль)</label></dd>
        <dt>Статус</dt>
        <dd><input 
                type="checkbox"
                value="true"
                name="status"
                id="carStatus"
                [(ngModel)]="car.status"
                (checked)="carForm.form.markAsDirty()">
            <label for="carStatus">включен</label></dd>
 
        <br>
        <a class="btn btn-default" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button 
            class="btn btn-info" 
            type="submit" 
            [disabled]="carForm.form.invalid || carForm.form.pristine">
            <span class="glyphicon glyphicon-ok"></span> {{car.id ? 'Изменить' : 'Добавить'}}
        </button>
    </dl>
</form>