<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Тип контакта</span></h4>

<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th  (click)="onSort('name')">Название <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"></i></th>
            <th>Маска</th>
            <th>Placeholder</th>
            <th>CSS</th>
            <th><a routerLink="/type" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody *ngIf="types.length">
        <tr *ngFor="let type of types | orderBy: {property: column, direction: direction}" (click)="onSelect(type)">
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
            <td>{{ type.mask }}</td>
            <td>{{ type.placeholder }}</td>
            <td>{{ type.style }}</td>
            <td (click)="onDelete(type); $event.stopPropagation()"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table> 
