<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('kateg')">Категория <i class="fa" [ngClass]="{'fa-sort': column != 'kateg', 'fa-sort-asc': (column == 'kateg' && isDesc), 'fa-sort-desc': (column == 'kateg' && !isDesc) }" aria-hidden="true"></i></th>
            <th>Документ</th>
            <th (click)="onSort('dt_begin')">Дт. нач. <i class="fa" [ngClass]="{'fa-sort': column != 'dt_begin', 'fa-sort-asc': (column == 'dt_begin' && isDesc), 'fa-sort-desc': (column == 'dt_begin' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('dt_end')">Дт. оконч. <i class="fa" [ngClass]="{'fa-sort': column != 'dt_end', 'fa-sort-asc': (column == 'dt_end' && isDesc), 'fa-sort-desc': (column == 'dt_end' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('user')">Пользователь <i class="fa" [ngClass]="{'fa-sort': column != 'user', 'fa-sort-asc': (column == 'user' && isDesc), 'fa-sort-desc': (column == 'user' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a [routerLink]="['../']" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories | orderBy: {property: column, direction: direction}"
            (click)="onSelect(category)"
            data-toggle="tooltip"
            title="{{ category | modifyInfo }}">
            <td>{{ category.id }}</td>
            <td>{{ category.kateg }}</td>
            <td>{{ category.doc }}</td>
            <td>{{ category.dt_begin | date: 'dd.MM.yyyy' }}</td>
            <td>{{ category.dt_end | date: 'dd.MM.yyyy' }}</td>
            <td>{{ category.user }}</td>
            <td (click)="onDelete(category); $event.stopPropagation();"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>