<form class="st-form" (ngSubmit)="onSubmit(); categoryForm.reset();" #categoryForm="ngForm">
    <dl>
        <dt>Вид категории*</dt> 
        <dd><select name="kateg" [(ngModel)]="selectedKategId" class="form-control select-kateg" required>
                <option *ngFor="let kateg of kategs" [ngValue]="kateg.id">{{kateg.name}}</option>
            </select></dd>
        <dt>Документ подтверждающий право*</dt> 
        <dd><select name="doc" [(ngModel)]="selectedDocId" class="form-control" required>
                <option *ngFor="let doc of docs" [ngValue]="doc.id">{{doc.name}}</option>
            </select></dd>
        <dt>Серия документа</dt>
        <dd><input 
                type="text" 
                name="doc_ser" 
                [(ngModel)]="category.doc_ser" 
                #doc_ser="ngModel" 
                maxlength="10" 
                placeholder="Серия"
                class="form-control"
                autocomplete="off">
            <small [hidden]="doc_ser.valid || doc_ser.pristine">
                Необходимо корректное значение длиной не более 10 символов
            </small></dd>
        <dt>Номер документа</dt>
        <dd><input 
                type="text" 
                name="doc_number" 
                [(ngModel)]="category.doc_number" 
                #doc_number="ngModel" 
                maxlength="20" 
                placeholder="Номер"
                class="form-control"
                autocomplete="off">
            <small [hidden]="doc_number.valid || doc_number.pristine">
                Необходимо корректное значение длиной не более 20 символов
            </small></dd>
        <dt>Дата документа</dt>
        <dd><input
                type="text"
                ngui-datetime-picker
                name="doc_dt"
                [(ngModel)]="category.doc_dt"
                (valueChanged)="categoryForm.form.markAsDirty()"
                date-format="DD.MM.YYYY"
                readonly="readonly"
                date-only="true" 
                class="form-control"></dd>
        <dt>Дата начала</dt>
        <dd><input
                type="text"
                ngui-datetime-picker
                name="dt_begin"
                [(ngModel)]="category.dt_begin"
                (valueChanged)="categoryForm.form.markAsDirty()"
                date-format="DD.MM.YYYY"
                readonly="readonly"
                date-only="true" 
                class="form-control"></dd>
        <dt>Дата окончания</dt>
        <dd><input
                type="text"
                ngui-datetime-picker
                name="dt_end"
                [(ngModel)]="category.dt_end"
                (valueChanged)="categoryForm.form.markAsDirty()"
                date-format="DD.MM.YYYY"
                readonly="readonly"
                date-only="true"
                class="form-control"></dd>

        <br>
        <a class="btn btn-default" href="#" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button class="btn btn-info" type="submit" [disabled]="categoryForm.form.invalid || categoryForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{category.id ? 'Изменить' : 'Добавить'}}</button>
    </dl>
</form>