<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Улицы</span></h4>

<form class="st-form" (ngSubmit)="onSubmit(); streetForm.reset();" #streetForm="ngForm">
    <dl>
        <dt>Территория*</dt>
        <dd>
            <select name="territory" [(ngModel)]="selectedTerritoryId" class="form-control" required>
                <option [ngValue]="null" disabled></option>
                <option *ngFor="let territory of territories" [ngValue]="territory.id">{{territory.name}}</option>
            </select>
        </dd> 
        <dt>Название*</dt>
        <dd><input 
                type="text" 
                name="name" 
                [(ngModel)]="street.name" 
                placeholder="Название" 
                required
                class="form-control"
                #name="ngModel"
                maxlength="200">
                <small [hidden]="name.valid || name.pristine">
                    Необходим корректное название
                </small></dd>
        <dt>Сокращение*</dt>
        <dd><input
                type="text" 
                name="socr" 
                [(ngModel)]="street.socr"
                placeholder="ул, пер, пр-кт, тракт, ..." 
                required
                #socr="ngModel"
                maxlength="20"
                class="form-control">
                <small [hidden]="socr.valid || socr.pristine">
                    Необходим корректное сокращение
                </small></dd>
        <dt>Почтовый индекс</dt>
        <dd><input 
                type="text" 
                name="post" 
                [(ngModel)]="street.post" 
                #post="ngModel" 
                maxlength="6" 
                pattern="[1-9](\d{5})"
                class="form-control">
                <small [hidden]="post.valid || post.pristine">
                    Необходим корректный почтовый индекс
                </small></dd>
        <dt>Код ФИАС (AOGUID)</dt>
        <dd><input 
                type="text" 
                name="aoguid" 
                [(ngModel)]="street.aoguid" 
                #aoguid="ngModel" 
                maxlength="36"
                size="36"
                pattern="[\-0-9a-z]{36}"
                class="form-control">
                <small [hidden]="aoguid.valid || aoguid.pristine">
                    Необходим корректный код ФИАС
                </small></dd>
        
        <br>
        <button class="btn btn-default" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</button>
        <button class="btn btn-info" type="submit" [disabled]="streetForm.form.invalid || streetForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{street.id ? 'Изменить' : 'Добавить'}}</button>        
    </dl>
</form>