body
    padding: 10px
    overflow-y: scroll

h1
    color: blue

.table-list
    cursor: pointer

    th
        white-space: nowrap

.st-form
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    border-radius: 2px
    width: 100%
    background-color: white
    display: flex
    padding: 1em
    margin-bottom: 1em

.st-form input
    flex: 1

.st-form input:focus
    border: 1px solid #1976D2

.st-form input:focus .ng-invalid .ng-dirty
    border: 1px solid #dd0031
    color: red

.st-form button
    margin-left: 16px

.h4-sprav
    font-style: italic

.h4-sprav-span
    color: blue

.td-dt
    color: olivedrab