<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Пункты доставки</span></h4>

<form class="st-form" (ngSubmit)="onSubmit(); punktForm.reset();" #punktForm="ngForm">
    <dl>
        <dt>Название*</dt>
        <dd><textarea 
                name="name" 
                [(ngModel)]="punkt.name" 
                placeholder="Название" 
                required 
                #name="ngModel" 
                maxlength="255" 
                class="form-control" 
                rows="5"></textarea></dd>
        <dt>Статус</dt>
        <dd><input 
                type="checkbox"
                value="true"
                name="status"
                id="punktStatus"
                [(ngModel)]="punkt.status"
                (checked)="punktForm.form.markAsDirty()">
            <label for="punktStatus">включен</label></dd>

        <br>
        <a class="btn btn-default" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button class="btn btn-info" type="submit" [disabled]="punktForm.form.invalid || punktForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{punkt.id ? 'Изменить' : 'Добавить'}}</button>        
    </dl>
</form>