<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th>Трансп.</th>
            <th>Пункт</th>
            <th>А.Улица</th>
            <th>А.Дом</th>
            <th>А.Дт</th>
            <th>Б.Улица</th>
            <th>Б.Дом</th>
            <th>Б.Дт</th>
            <th>Одобр.</th>
            <th>Статус</th>
            <th><a [routerLink]="['../']" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody *ngIf="transportations.length">
        <tr *ngFor="let transportation of transportations | orderBy: {property: column, direction: direction}" (click)="onSelect(kategory)">
            <td>{{ transportation.id }}</td>
            <td>{{ getCarName(transportation) }}</td>
            <td>{{ getPunktName(transportation) }}</td>
            <td>{{ getStreetNameSocr(transportation.a_street_id) }}</td>
            <td>{{ transportation.a_dom }}{{ transportation.a_korp }}</td>
            <td>{{ transportation.a_dt | date: 'dd.MM.yyyy hh:mm' }}</td>
            <td>{{ getStreetNameSocr(transportation.b_street_id) }}</td>
            <td>{{ transportation.b_dom }}{{ transportation.b_korp }}</td>
            <td>{{ transportation.b_dt | date: 'dd.MM.yyyy hh:mm' }}</td>
            <td><span class='{{ transportation.checked ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td><span class='{{ transportation.status ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td (click)="onDelete(transportation); $event.stopPropagation();"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>