<div class="row">
    <div class="center">
        <div class="col-xs-12 col-sm-2">            
            <span class="center-info-b">За тек. год:</span>
        </div>
        <div class="col-xs-12 col-sm-2" *ngFor="let stat of stats">
            <span class="center-info-a">{{ stat.name }} - </span>
            <span class="center-info-b">{{ stat.cnt }}</span>
        </div>
    </div>
</div>

<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onGetFile();"><span class="glyphicon glyphicon-save-file"></span></th>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('punkt')">Пункт <i class="fa" [ngClass]="{'fa-sort': column != 'punkt', 'fa-sort-asc': (column == 'punkt' && isDesc), 'fa-sort-desc': (column == 'punkt' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('a_adr')">А.Откуда <i class="fa" [ngClass]="{'fa-sort': column != 'a_adr', 'fa-sort-asc': (column == 'a_adr' && isDesc), 'fa-sort-desc': (column == 'a_adr' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('b_adr')">Б.Куда <i class="fa" [ngClass]="{'fa-sort': column != 'b_adr', 'fa-sort-asc': (column == 'b_adr' && isDesc), 'fa-sort-desc': (column == 'b_adr' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('car')">Трансп. <i class="fa" [ngClass]="{'fa-sort': column != 'car', 'fa-sort-asc': (column == 'car' && isDesc), 'fa-sort-desc': (column == 'car' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('a_dt')">А.Дт.Вр. <i class="fa" [ngClass]="{'fa-sort': column != 'a_dt', 'fa-sort-asc': (column == 'a_dt' && isDesc), 'fa-sort-desc': (column == 'a_dt' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('b_dt')">Б.Вр. <i class="fa" [ngClass]="{'fa-sort': column != 'b_dt', 'fa-sort-asc': (column == 'b_dt' && isDesc), 'fa-sort-desc': (column == 'b_dt' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('status')">Статус <i class="fa" [ngClass]="{'fa-sort': column != 'status', 'fa-sort-asc': (column == 'status' && isDesc), 'fa-sort-desc': (column == 'status' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('user')">Пользователь <i class="fa" [ngClass]="{'fa-sort': column != 'user', 'fa-sort-asc': (column == 'user' && isDesc), 'fa-sort-desc': (column == 'user' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a [routerLink]="['../']" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transportation of transportations | orderBy: {property: column, direction: direction}"
            (click)="onSelect(transportation)"
            data-toggle="tooltip" 
            title="{{ transportation | modifyInfo }}">
            <td></td>
            <td>{{ transportation.id }}</td>
            <td>{{ transportation.punkt }}</td>
            <td>{{ transportation.a_adr }}</td>
            <td>{{ transportation.b_adr }}</td>
            <td>{{ transportation.car }}</td>
            <td>{{ transportation.a_dt | date: 'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ transportation.b_dt | date: 'HH:mm' }}</td>
            <td>{{ transportation.status }}</td>
            <td>{{ transportation.user }} {{ transportation.status_id }}</td>
            <td><span *ngIf="transportation.status_id === 1 || authService.isSignedIn && authService.authUser.role3 && transportation.status_id === 2" (click)="onDelete(transportation); $event.stopPropagation();" class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>