<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Пользователи</span></h4>

<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('username')">Логин <i class="fa" [ngClass]="{'fa-sort': column != 'username', 'fa-sort-asc': (column == 'username' && isDesc), 'fa-sort-desc': (column == 'username' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('first_name')">И.О. <i class="fa" [ngClass]="{'fa-sort': column != 'first_name', 'fa-sort-asc': (column == 'first_name' && isDesc), 'fa-sort-desc': (column == 'first_name' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('last_name')">Фамилия <i class="fa" [ngClass]="{'fa-sort': column != 'last_name', 'fa-sort-asc': (column == 'last_name' && isDesc), 'fa-sort-desc': (column == 'last_name' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('firm')">Организация <i class="fa" [ngClass]="{'fa-sort': column != 'firm', 'fa-sort-asc': (column == 'firm' && isDesc), 'fa-sort-desc': (column == 'firm' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('role0')">R0 <i class="fa" [ngClass]="{'fa-sort': column != 'role0', 'fa-sort-asc': (column == 'role0' && isDesc), 'fa-sort-desc': (column == 'role0' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('role1')">R1 <i class="fa" [ngClass]="{'fa-sort': column != 'role1', 'fa-sort-asc': (column == 'role1' && isDesc), 'fa-sort-desc': (column == 'role1' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('role2')">R2 <i class="fa" [ngClass]="{'fa-sort': column != 'role2', 'fa-sort-asc': (column == 'role2' && isDesc), 'fa-sort-desc': (column == 'role2' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('role3')">R3 <i class="fa" [ngClass]="{'fa-sort': column != 'role3', 'fa-sort-asc': (column == 'role3' && isDesc), 'fa-sort-desc': (column == 'role3' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('role4')">R4 <i class="fa" [ngClass]="{'fa-sort': column != 'role4', 'fa-sort-asc': (column == 'role4' && isDesc), 'fa-sort-desc': (column == 'role4' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('checked')">Вкл. <i class="fa" [ngClass]="{'fa-sort': column != 'checked', 'fa-sort-asc': (column == 'checked' && isDesc), 'fa-sort-desc': (column == 'checked' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a routerLink="/user" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign" title="Добавить"></span></a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | orderBy: {property: column, direction: direction}" 
            (click)="onSelect(user)" 
            data-toggle="tooltip" 
            title="Созд.: {{ user.dt | date: 'dd.MM.yyyy HH:mm:ss' }}; изм.: {{ user.dtm | date: 'dd.MM.yyyy HH:mm:ss' }}">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.firm }}</td>
            <td><span class='{{ user.role0 ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td><span class='{{ user.role1 ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td><span class='{{ user.role2 ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td><span class='{{ user.role3 ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td><span class='{{ user.role4 ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td><span class='{{ user.checked ? "glyphicon glyphicon-ok-circle" : "" }}'></span></td>
            <td (click)="onDelete(user); $event.stopPropagation()"><span class="glyphicon glyphicon-remove-sign" title="Удалить"></span></td>
        </tr>
    </tbody>
</table> 