<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Территории</span></h4>

<form class="st-form" (ngSubmit)="onSubmit(); territoryForm.reset();" #territoryForm="ngForm">
    <dl>
        <dt>Территория содержащая вводимую территорию*</dt>
        <dd>
            <select name="territory_id" [(ngModel)]="selectedTerritoryId" class="form-control" required>
                <option [ngValue]="null" disabled></option>
                <option *ngFor="let t of territories" [ngValue]="t.id">{{t.name}}</option>
            </select>
        </dd>
        <dt>Название вводимой территории*</dt>
        <dd><input 
                type="text" 
                name="name" 
                [(ngModel)]="territory.name" 
                placeholder="Название" 
                required 
                #name="ngModel"
                maxlength="200" 
                size="32"
                class="form-control"></dd>
        
        <br>
        <button class="btn btn-default" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</button>
        <button class="btn btn-info" type="submit" [disabled]="territoryForm.form.invalid || territoryForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{territory.id ? 'Изменить' : 'Добавить'}}</button>        
    </dl>
</form>