<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th>Категория</th>
            <th>Документ</th>
            <th (click)="onSort('dt_begin')">Дт. нач. <i class="fa" [ngClass]="{'fa-sort': column != 'dt_begin', 'fa-sort-asc': (column == 'dt_begin' && isDesc), 'fa-sort-desc': (column == 'dt_begin' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('dt_end')">Дт. оконч. <i class="fa" [ngClass]="{'fa-sort': column != 'dt_end', 'fa-sort-asc': (column == 'dt_end' && isDesc), 'fa-sort-desc': (column == 'dt_end' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a [routerLink]="['../']" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody *ngIf="kategories.length">
        <tr *ngFor="let kategory of kategories | orderBy: {property: column, direction: direction}" (click)="onSelect(kategory)">
            <td>{{ kategory.id }}</td>
            <td>{{ getKategName(kategory) }}</td>
            <td>{{ getDocName(kategory) }}</td>
            <td>{{ kategory.dt_begin | date: 'dd.MM.yyyy' }}</td>
            <td>{{ kategory.dt_end | date: 'dd.MM.yyyy' }}</td>
            <td (click)="onDelete(kategory); $event.stopPropagation();"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>