<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Категории</span></h4>

<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('name')">Название <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a routerLink="/kateg" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody *ngIf="kategs.length">
        <tr *ngFor="let kateg of kategs | orderBy: {property: column, direction: direction}" (click)="onSelect(kateg)">
            <td>{{ kateg.id }}</td>
            <td>{{ kateg.name }}</td>
            <td (click)="onDelete(kateg); $event.stopPropagation()"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>