<div class="page-header">
  <h1>{{title}} <small>{{titleSmall}}</small></h1>
</div>

<ul class="nav nav-pills">
  <li *ngIf="authService.isSignedIn">
    <a routerLink="/client/list" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Поиск</a>
  </li>

  <li *ngIf="authService.isSignedIn">
    <a [routerLink]="aReport.getUrl(['report', 'a'])" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span> Отчеты</a>
  </li>

  <li class="dropdown pull-right">
    <a routerLink="/signin"><span class="glyphicon glyphicon-user"></span></a>
  </li>

  <li class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-file"></span><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="docs/staxi_polozenie.docx" download target="_blank">Положение о деятельности</a></li>
      <li><a href="docs/staxi_manual.docx" download target="_blank">Краткая инструкция</a></li>
    </ul>
  </li>

  <li *ngIf="authService.isSignedIn && authService.authUser.role4" class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-cog"></span> Справочники<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a routerLink="/user/list" routerLinkActive="active">Пользователи</a></li>
      <li><a routerLink="/territory/list" routerLinkActive="active">Территории</a></li>
      <li><a routerLink="/street/list" routerLinkActive="active">Улицы</a></li>
      <li><a routerLink="/kateg/list" routerLinkActive="active">Категории</a></li>
      <li><a routerLink="/punkt/list" routerLinkActive="active">Пункты доставки</a></li>
      <li><a routerLink="/firm/list" routerLinkActive="active">Организации</a></li>
      <li><a routerLink="/doc/list" routerLinkActive="active">Документы подтвержающие право</a></li>
      <li><a routerLink="/car/list" routerLinkActive="active">Автотранспорт</a></li>
      <li><a routerLink="/type/list" routerLinkActive="active">Тип контакта</a></li>
    </ul>
  </li>
</ul>

<router-outlet></router-outlet>