<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th>Тип</th>
            <th (click)="onSort('name')">Контакт <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"></i></th>
            <th>Комментарий</th>
            <th (click)="onSort('user')">Пользователь <i class="fa" [ngClass]="{'fa-sort': column != 'user', 'fa-sort-asc': (column == 'user' && isDesc), 'fa-sort-desc': (column == 'user' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a [routerLink]="['../']" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>            
        </tr>
    </thead>
    <tbody *ngIf="contacts.length">
        <tr *ngFor="let contact of contacts | orderBy: {property: column, direction: direction}" 
            (click)="onSelect(contact)"
            data-toggle="tooltip" 
            title="Созд.: {{ contact.dt | date: 'dd.MM.yyyy HH:mm:ss' }}; изм.: {{ contact.dtm | date: 'dd.MM.yyyy HH:mm:ss' }}">
            <td>{{ contact.id }}</td>
            <td><span [ngClass]="contact.type"></span></td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.comment }}</td>
            <td>{{ contact.user }}</td>
            <td (click)="onDelete(contact); $event.stopPropagation();"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table> 