<h4 class="h4-sprav"><span class="h4-sprav-span">Поиск</span></h4>

<div class="form-group">
    <input 
        type="text" 
        [ngModel]="searchText | snils" 
        (ngModelChange)="searchText=$event" 
        class="form-control" 
        (keyup)="searchClient(searchText)"
        placeholder="СНИЛС" 
        maxlength="14"
        pattern="\d\d\d-\d\d\d-\d\d\d-\d\d"
        autocomplete="off">
</div>

<table class="table table-hover table-list">
    <thead>
        <tr>
            <th (click)="onSort('id')">Код <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('snils')">СНИЛС <i class="fa" [ngClass]="{'fa-sort': column != 'snils', 'fa-sort-asc': (column == 'snils' && isDesc), 'fa-sort-desc': (column == 'snils' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('im')">Имя <i class="fa" [ngClass]="{'fa-sort': column != 'im', 'fa-sort-asc': (column == 'im' && isDesc), 'fa-sort-desc': (column == 'im' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('ot')">Отчество <i class="fa" [ngClass]="{'fa-sort': column != 'ot', 'fa-sort-asc': (column == 'ot' && isDesc), 'fa-sort-desc': (column == 'ot' && !isDesc) }" aria-hidden="true"></i></th>
            <th (click)="onSort('user')">Пользователь <i class="fa" [ngClass]="{'fa-sort': column != 'user', 'fa-sort-asc': (column == 'user' && isDesc), 'fa-sort-desc': (column == 'user' && !isDesc) }" aria-hidden="true"></i></th>
            <th><a routerLink="/client" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients | async | orderBy: {property: column, direction: direction}"
            [class.tr-client-reason]="client.reason_id>1"
            (click)="onSelect(client)"
            data-toggle="tooltip"
            title="{{ client | modifyInfo }}">
            <td>{{ client.id }}</td>
            <td>{{ client.snils }}</td>
            <td>{{ client.im }}</td>
            <td>{{ client.ot }}</td>
            <td>{{ client.user }}</td>
            <td (click)="onDelete(client); $event.stopPropagation()"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table>