<form class="st-form" (ngSubmit)="onSubmit(); transportationForm.reset();" #transportationForm="ngForm">
    <dl>
        <dt>Автотранспорт*</dt> 
        <dd><select name="car" [(ngModel)]="selectedCarId" required>
                <option *ngFor="let car of cars" [ngValue]="car.id">{{car.name}}</option>
            </select></dd>
        <dt>Пункт доставки*</dt>
        <dd><select name="punkt" [(ngModel)]="selectedPunktId" required>
                <option *ngFor="let punkt of punkts" [ngValue]="punkt.id">{{punkt.name}}</option>
            </select></dd>
        <dt>A.Улица*</dt>
        <dd><select name="a_street" [(ngModel)]="selectedAStreetId" required>
                <option *ngFor="let street of streets" [ngValue]="street.id">{{street.name}} {{street.socr}}</option>
            </select></dd>
        <dt>A.Дом*</dt>
        <dd><input type="text" name="a_dom" [(ngModel)]="transportation.a_dom" #a_dom="ngModel" maxlength="4" placeholder="Дом" required>
            <small [hidden]="a_dom.valid || a_dom.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>A.Корп</dt>
        <dd><input type="text" name="a_korp" [(ngModel)]="transportation.a_korp" #a_korp="ngModel" maxlength="4" placeholder="Корп">
            <small [hidden]="a_korp.valid || a_korp.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>А.Дата*</dt>
        <dd><input mdInput type="text" id="dateADt" readonly="readonly" [mdDatepicker]="pickerADt" name="a_dt" [(ngModel)]="transportation.a_dt" #a_dt="ngModel" placeholder="Дата" required>
            <button mdSuffix [mdDatepickerToggle]="pickerADt"></button>
            <md-datepicker #pickerADt></md-datepicker>
            <small [hidden]="a_dt.valid || a_dt.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Б.Улица*</dt>
        <dd><select name="b_street" [(ngModel)]="selectedBStreetId" required>
                <option *ngFor="let street of streets" [ngValue]="street.id">{{street.name}} {{street.socr}}</option>
            </select></dd>
        <dt>Б.Дом*</dt>
        <dd><input type="text" name="b_dom" [(ngModel)]="transportation.b_dom" #b_dom="ngModel" maxlength="4" placeholder="Дом" required>
            <small [hidden]="b_dom.valid || b_dom.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Б.Корп</dt>
        <dd><input type="text" name="b_korp" [(ngModel)]="transportation.b_korp" #b_korp="ngModel" maxlength="4" placeholder="Корп">
            <small [hidden]="b_korp.valid || b_korp.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Б.Дата*</dt>
        <dd><input mdInput type="text" id="dateBDt" readonly="readonly" [mdDatepicker]="pickerBDt" name="b_dt" [(ngModel)]="transportation.b_dt" #b_dt="ngModel" placeholder="Дата" required>
            <button mdSuffix [mdDatepickerToggle]="pickerBDt"></button>
            <md-datepicker #pickerBDt></md-datepicker>
            <small [hidden]="b_dt.valid || b_dt.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Одобрено</dt>
        <dd><input type="checkbox" value="true" name="checked" id="transportationChecked" [(ngModel)]="transportation.checked">
            <label for="transportationChecked">Одобрено уполномоченным</label></dd>
        <dt>Статус</dt>
        <dd><input type="checkbox" value="true" name="status" id="transportationStatus" [(ngModel)]="transportation.status">
            <label for="transportationStatus">Выполнено</label></dd>

        <br>
        <a class="btn btn-default" href="#" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button class="btn btn-info" type="submit" [disabled]="transportationForm.form.invalid || transportationForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{transportation.id ? 'Изменить' : 'Добавить'}}</button>
    </dl>
</form>