<form class="st-form" (ngSubmit)="onSubmit(); transportationForm.reset();" #transportationForm="ngForm">
    <dl>
        <dt>Автотранспорт*</dt> 
        <dd><select name="car" [(ngModel)]="selectedCarId" required>
                <option *ngFor="let car of cars" [ngValue]="car.id">{{car.name}}</option>
            </select></dd>
        <dt>Пункт доставки*</dt>
        <dd><select name="punkt" [(ngModel)]="selectedPunktId" required>
                <option *ngFor="let punkt of punkts" [ngValue]="punkt.id">{{punkt.name}}</option>
            </select></dd>
        <dt>Категория*</dt>
        <dd><select name="category" [(ngModel)]="selectedCategoryId" required>
                <option *ngFor="let category of categories" [ngValue]="category.id">[{{category.dt_begin | date: 'dd.MM.yyyy'}}-{{category.dt_end | date: 'dd.MM.yyyy'}}] {{category.kateg}}</option>
            </select></dd>
        <dt>A.Улица*</dt>
        <dd><div class="search-component">
                <input 
                    #a_street 
                    class="form-control search-box" 
                    (keyup)="searchStreet('a_street', a_street.value)"
                     name="a_street" (blur)="searchStreet('a_street')" 
                     [(ngModel)]="transportation.a_street"
                     autocomplete="off"
                     required>
                <div *ngIf="streetDivName === 'a_street'">
                    <div *ngFor="let street of streets | async" (click)="setStreetId('a_street', street)" class="search-result" >
                        {{ street.name }} {{ street.socr }}
                    </div>
                </div>
            </div></dd>
        <dt>A.Дом*</dt>
        <dd><input type="text" name="a_dom" [(ngModel)]="transportation.a_dom" #a_dom="ngModel" maxlength="4" placeholder="Дом" required>
            <small [hidden]="a_dom.valid || a_dom.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>A.Корп</dt>
        <dd><input type="text" name="a_korp" [(ngModel)]="transportation.a_korp" #a_korp="ngModel" maxlength="4" placeholder="Корп">
            <small [hidden]="a_korp.valid || a_korp.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>А.Дата и время*</dt>
        <dd><input 
                type="text" 
                ngui-datetime-picker 
                name="a_dt" 
                [(ngModel)]="transportation.a_dt" 
                #a_dt="ngModel" 
                date-format="DD.MM.YYYY HH:mm"
                readonly="readonly" 
                class="form-control"                 
                required></dd>
        <dt>Б.Улица*</dt>
        <dd><div class="search-component">
                <input 
                    #b_street 
                    class="form-control search-box" 
                    (keyup)="searchStreet('b_street', b_street.value)" 
                    name="b_street" 
                    (blur)="searchStreet('b_street')"
                    [(ngModel)]="transportation.b_street"
                    autocomplete="off" 
                    required>
                <div *ngIf="streetDivName === 'b_street'">
                    <div *ngFor="let street of streets | async" (click)="setStreetId('b_street', street)" class="search-result" >
                        {{ street.name }} {{ street.socr }}
                    </div>
                </div>
            </div></dd>
        <dt>Б.Дом*</dt>
        <dd><input type="text" name="b_dom" [(ngModel)]="transportation.b_dom" #b_dom="ngModel" maxlength="4" placeholder="Дом" required>
            <small [hidden]="b_dom.valid || b_dom.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Б.Корп</dt>
        <dd><input type="text" name="b_korp" [(ngModel)]="transportation.b_korp" #b_korp="ngModel" maxlength="4" placeholder="Корп">
            <small [hidden]="b_korp.valid || b_korp.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Б.Время</dt>
        <dd><input 
                type="text" 
                ngui-datetime-picker 
                [(ngModel)]="transportation.b_dt" 
                name="b_dt" 
                time-only="true" 
                date-format="HH:mm" 
                readonly="readonly" 
                class="form-control" 
                min-hour="{{ transportation.a_dt | date: 'HH' }}"></dd>
        <dd><input type="checkbox" value="true" name="checked" id="transportationChecked" [(ngModel)]="transportation.checked">
            <label for="transportationChecked">Одобрено уполномоченным</label></dd>
        <dd><input type="checkbox" value="true" name="status" id="transportationStatus" [(ngModel)]="transportation.status">
            <label for="transportationStatus">Перевозка выполнена</label></dd>
        
        <br>
        <a class="btn btn-default" href="#" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button class="btn btn-info" type="submit" [disabled]="transportationForm.form.invalid || transportationForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{transportation.id ? 'Изменить' : 'Добавить'}}</button>
    </dl>
</form>