<form class="st-form" (ngSubmit)="onSubmit(); transportationForm.reset();" #transportationForm="ngForm">
    <dl>        
        <dt>Пункт доставки*</dt>
        <dd><select name="punkt" [(ngModel)]="selectedPunktId" class="form-control" required>
                <option *ngFor="let punkt of punkts" [ngValue]="punkt.id">{{punkt.name}}</option>
            </select></dd>
        <dt>Категория*</dt>
        <dd><select name="category" [(ngModel)]="selectedCategoryId" class="form-control selectpicker" required>
                <option *ngFor="let category of categories" [ngValue]="category.id">
                    [{{category.dt_begin | date: 'dd.MM.yyyy'}} - {{category.dt_end | date: 'dd.MM.yyyy'}}] {{category.kateg}}
                </option>
            </select></dd>
        <dt>A.Улица*</dt>
        <dd><div class="search-component">
                <input 
                    #a_street 
                    class="form-control search-box" 
                    (focus)="searchStreet('a_street')"
                    (keyup)="searchStreet('a_street', a_street.value)"
                    (blur)="searchStreet('a_street')"
                    name="a_street"                    
                    [(ngModel)]="transportation.a_street"
                    autocomplete="off"
                    required>
                <div *ngIf="streetDivName === 'a_street'">
                    <div *ngFor="let street of streets | async" (click)="setStreetId('a_street', street)" class="search-result" >
                        {{ street.name }} {{ street.socr }}
                    </div>
                </div>
            </div></dd>
        <dt>A.Дом*</dt>
        <dd><input 
                type="text" 
                name="a_dom" 
                [(ngModel)]="transportation.a_dom" 
                #a_dom="ngModel" 
                maxlength="4" 
                placeholder="Дом"
                class="form-control"
                pattern="[0-9]+"
                required
                autocomplete="off">
            <small [hidden]="a_dom.valid || a_dom.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>A.Корп</dt>
        <dd><input 
                type="text" 
                name="a_korp" 
                [(ngModel)]="transportation.a_korp"
                #a_korp="ngModel" 
                maxlength="4" 
                placeholder="Корп"
                class="form-control" 
                autocomplete="off">
            <small [hidden]="a_korp.valid || a_korp.pristine">
                Необходимо корректное значение
            </small></dd>        
        <dt>Б.Улица*</dt>
        <dd><div class="search-component">
                <input 
                    #b_street 
                    class="form-control search-box" 
                    (focus)="searchStreet('b_street')" 
                    (keyup)="searchStreet('b_street', b_street.value)"                    
                    (blur)="searchStreet('b_street')"
                    name="b_street" 
                    [(ngModel)]="transportation.b_street"
                    autocomplete="off" 
                    required>
                <div *ngIf="streetDivName === 'b_street'">
                    <div *ngFor="let street of streets | async" (click)="setStreetId('b_street', street)" class="search-result" >
                        {{ street.name }} {{ street.socr }}
                    </div>
                </div>
            </div></dd>
        <dt>Б.Дом*</dt>
        <dd><input 
                type="text" 
                name="b_dom" 
                [(ngModel)]="transportation.b_dom"                
                #b_dom="ngModel" 
                maxlength="4" 
                placeholder="Дом" 
                class="form-control" 
                pattern="[0-9]+"
                required
                autocomplete="off">
            <small [hidden]="b_dom.valid || b_dom.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>Б.Корп</dt>
        <dd><input 
                type="text" 
                name="b_korp" 
                [(ngModel)]="transportation.b_korp" 
                #b_korp="ngModel" 
                maxlength="4" 
                placeholder="Корп"
                class="form-control" 
                autocomplete="off">
            <small [hidden]="b_korp.valid || b_korp.pristine">
                Необходимо корректное значение
            </small></dd>
        <dt>С сопровождением</dt> 
        <dd><input type="checkbox" value="true" name="convoy" id="convoy" [(ngModel)]="transportation.convoy">
            <label for="convoy">да</label></dd>
        <dt>Комментарий</dt> 
        <dd><textarea 
                name="comment" 
                [(ngModel)]="transportation.comment" 
                placeholder="Комментарий" 
                #comment="ngModel" 
                maxlength="255" 
                class="form-control" 
                rows="3"></textarea></dd>
        <dt>Автотранспорт*</dt>
        <dd><select name="car" [(ngModel)]="selectedCarId" class="form-control" required>
                <option *ngFor="let car of cars" [ngValue]="car.id">{{car.name}} {{car.gos_no ? '(' + car.gos_no + ')' : ''}}</option>
            </select></dd>
        <dt>А.Дата и время*</dt>
        <dd><input
                type="text"
                ngui-datetime-picker
                name="a_dt"
                [(ngModel)]="transportation.a_dt"
                (valueChanged)='transportationForm.form.markAsDirty()'
                #a_dt="ngModel" 
                date-format="DD.MM.YYYY HH:mm"
                min-date="Date.now()"
                readonly="readonly" 
                class="form-control"
                required></dd>
        <dt>Б.Время</dt>
        <dd><input
                type="text" 
                ngui-datetime-picker 
                [(ngModel)]="transportation.b_dt" 
                (valueChanged)='transportationForm.form.markAsDirty()'
                name="b_dt" 
                time-only="true" 
                date-format="HH:mm" 
                readonly="readonly" 
                class="form-control" 
                min-hour="{{ transportation.a_dt | date: 'HH' }}"></dd>
        <dt *ngIf="authService.isSignedIn && authService.authUser.role3">Статус заявки</dt>
        <dd *ngIf="authService.isSignedIn && authService.authUser.role3"><select name="status" [(ngModel)]="selectedStatusId" class="form-control" required>
                <option *ngFor="let status of statuses" [ngValue]="status.id">{{status.name}}</option>
            </select></dd>
        
        <br>
        <a class="btn btn-default" href="#" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button 
            *ngIf="status === 1 || authService.isSignedIn && authService.authUser.role3 && status === 2" 
            class="btn btn-info" 
            type="submit" 
            [disabled]="transportationForm.form.invalid || transportationForm.form.pristine">
                <span class="glyphicon glyphicon-ok"></span> {{transportation.id ? 'Изменить' : 'Добавить'}}
        </button>
    </dl>
</form>