<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Организации</span></h4>

<form class="st-form" (ngSubmit)="onSubmit(); firmForm.reset();" #firmForm="ngForm">
    <dl>
        <dt>Организация курирующая вводимую организацию</dt>
        <dd>
            <select name="firm" [(ngModel)]="selectedFirmId" class="form-control">
                <option [ngValue]="null" disabled></option>
                <option *ngFor="let f of firms" [ngValue]="f.id">{{f.name}}</option>
            </select>
        </dd>
        <dt>Территория*</dt>
        <dd>
            <select name="territory" [(ngModel)]="selectedTerritoryId" class="form-control" required>
                <option [ngValue]="null" disabled></option>
                <option *ngFor="let territory of territories" [ngValue]="territory.id">{{territory.name}}</option>
            </select>
        </dd>
        <dt>Название*</dt>
        <dd><input 
                type="text" 
                name="name" 
                [(ngModel)]="firm.name"
                placeholder="Название"
                required
                #name="ngModel"
                maxlength="255"
                size="60"
                class="form-control"></dd>

        <br>
        <button class="btn btn-default" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</button>
        <button class="btn btn-info" type="submit" [disabled]="firmForm.form.invalid || firmForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{firm.id ? 'Изменить' : 'Добавить'}}</button>        
    </dl>
</form>