<div class="col-md-6 col-md-offset-3">
    <form class="st-form" (ngSubmit)="signin(); signinForm.reset();" #signinForm="ngForm">
      <dl *ngIf="!authService.isSignedIn">
        <dt>Email*</dt>
        <dd><input type="text" name="username" [(ngModel)]="user.username" placeholder="Название" #username="ngModel" required></dd>
        <dt>Пароль</dt>
        <dd><input type="password" name="password" [(ngModel)]="user.password" placeholder="Пароль" #password="ngModel"></dd>
        
        <br>
        <button class="btn btn-info" type="submit" [disabled]="signinForm.form.invalid || signinForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> Войти</button>          
      </dl>

      <dl *ngIf="authService.isSignedIn">
        
        <br>
        <button class="btn btn-info" (click)="signout()">Выйти</button>
      </dl>
    </form>

    <p>{{ message }}</p>
</div>