<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Личный кабинет</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding id="signin" class="outer-content">

  <div *ngIf="!authProvider.isSignedIn" >
    <ion-list>
      <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Пароль*</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>
    </ion-list>
        
    <button ion-button full color="success" (click)="signin()" tabIcon="log-in"><ion-icon name="log-in"></ion-icon>&nbsp;Войти</button>
  </div>

  <div *ngIf="authProvider.isSignedIn">
    <ion-list>
      <ion-item>
        Пользователь: <b>{{ authProvider.authUser.first_name }} {{ authProvider.authUser.last_name }}</b>
      </ion-item>
    </ion-list>

    <button ion-button full color="success" (click)="signout()"><ion-icon name="log-out"></ion-icon>&nbsp;Выйти</button>
  </div>
  
  <p>{{ message }}</p>    
  
</ion-content>