<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Организации</span></h4>

<table class="table table-hover table-list">
    <thead>
        <tr>
            <th>Код</th>
            <th>Территория</th>
            <th>Название</th>
            <th><a routerLink="/firm" routerLinkActive="active"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
        </tr>
    </thead>
    <tbody *ngIf="firms.length">
        <tr *ngFor="let firm of firms" (click)="onSelect(firm)">
            <td>{{ firm.id }}</td>
            <td>{{ getTerritoryName(firm) }}</td>
            <td>{{ firm.name }}</td>
            <td (click)="onDelete(firm); $event.stopPropagation()"><span class="glyphicon glyphicon-remove-sign"></span></td>
        </tr>
    </tbody>
</table> 
