<h4 class="h4-sprav">Справочник: <span class="h4-sprav-span">Тип контакта</span></h4>

<form class="st-form" (ngSubmit)="onSubmit(); typeForm.reset();" #typeForm="ngForm">
    <dl>
        <dt>Название*</dt>
        <dd><input type="text" name="name" [(ngModel)]="type.name" placeholder="Название" required #name="ngModel" maxlength="50"></dd>
        <dt>Маска*</dt>
        <dd><input type="text" name="mask" [(ngModel)]="type.mask" placeholder="..\d\d$" required #name="ngModel" maxlength="255"></dd>
        <dt>Placeholder</dt>
        <dd><input type="text" name="placeholder" [(ngModel)]="type.placeholder" placeholder="nn.." required #name="ngModel" maxlength="255"></dd>
        <dt>CSS</dt>
        <dd><input type="text" name="style" [(ngModel)]="type.style" placeholder="glyphicon glyphicon-.." #name="ngModel" maxlength="255"></dd>
        
        <br>
        <a class="btn btn-default" href="#" (click)="gotoBack()"><span class="glyphicon glyphicon-step-backward"></span> Назад</a>
        <button class="btn btn-info" type="submit" [disabled]="typeForm.form.invalid || typeForm.form.pristine"><span class="glyphicon glyphicon-ok"></span> {{type.id ? 'Изменить' : 'Добавить'}}</button>
    </dl>
</form>